@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
}

<h2>Customer Details Form</h2>


@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.DateOfBirth)
        @Html.TextBoxFor(m => m.Customer.DateOfBirth, "{0:MMMM dd, yyyy}", new { @class = "form-control" })  @*The 0: is required*@
        @Html.ValidationMessageFor(m => m.Customer.DateOfBirth)
    </div>


    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribe to NewsLetter
        </label>
    </div>


    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Add/Update Customer</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
