@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>

    @if (Model.DateOfBirth.HasValue)
    {
        <li>Birthdate: @Model.DateOfBirth.Value.ToLongDateString()</li>
    }
    <li>@Model.Id</li>
</ul>

<button>@Html.ActionLink("Edit Customer", "Edit", "Customers", new { id = Model.Id }, null)</button>